@charset "utf-8";
div.main {
    background: #0264d6;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, #0264d6), color-stop(100%, #1c2b5a));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #0264d6 1%, #1c2b5a 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #0264d6 1%, #1c2b5a 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    height: calc(100vh);
    width: 100%;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}


/* ---------- GENERAL ---------- */

* {
    box-sizing: border-box;
    margin: 0px auto;
}

body {
    color: #606468;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}

a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

.clearfix {
    *zoom: 1;
}

.container {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* ---------- LOGIN ---------- */

/* #login,
.logo {
    display: inline-block;
    width: 40%;
} */

.logo {
    color: #fff;
    font-size: 50px;
    line-height: 125px;
}

#login form span.fa {
    background-color: #fff;
    border-radius: 3px 0px 0px 3px;
    color: #000;
    display: block;
    float: left;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

.login-dados{
    height: 50px;
    background-color: #fff;
    border-radius: 0px 3px 3px 0px;
    color: #000;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 200px;
}




#login>div {
    text-align: center;
}

.spn-altura {
    height: 50px;
    width: 50px;
    padding-left: 5px;
}

@media only screen and (min-width: 576px) {
    #login {
        border-right: 1px solid #fff;
        padding: 0px 22px;
        width: 59%;
    }
    #login,
    .logo {
        display: inline-block;
        width: 59%;
    }
    .middle {
        display: flex;
        width: 600px;
    }
}

@media only screen and (min-width: 415px) and (max-width: 575px) {
    #login {
        padding: 0px 22px;
    }

    .middle {
        display: flex;
    }

    #login form {
        padding-left: 5px;
        padding-right: 3px;
        width: 450px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 414px) {
    #login {
        padding: 0px 22px;
    }

    .middle {
        display: flex;
    }

    #login form {
        padding-left: 0px;
        padding-right: 3px;
        width: 350px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 399px) {
    #login {
        padding: 0px 22px;
    }

    #login,
    .logo {
        display: inline-block;
        width: 100%;
    }
    .middle {
        display: flex;
    }

    #login form {
        width: 300px;
    }
}
@media only screen and (min-width: 301px) and (max-width: 320px) {

    #login form {
        padding-left: 0px;
        padding-right: 3px;
        width: 300px;
    }
} 

@media only screen and (max-width: 300px) {
    #login form {
        width: 250px;
    }
} 